<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card mx-4">
      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <%= link_to t("users.sessions.new.title"), new_user_session_path, class: "nav-link active" %>
        </li>
        <%- if devise_mapping.registerable? %>
          <li class="nav-item">
            <%= link_to t("users.registrations.new.title"), new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <div class="card-body p-4">
        <%= form_with(model: resource, as: resource_name, url: session_path(resource_name), id: "user-sign-in", local: true) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, id: "user_email", autocomplete: "username", autofocus: true, required: "required", class: "form-control", class_for_error: "is-invalid" %>
            <%= f.error_message :email, class: "invalid-feedback" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, id: "user_password", autocomplete: "current-password", required: "required", class: "form-control", class_for_error: "is-invalid" %>
            <%= f.error_message :password, class: "invalid-feedback" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group">
              <div class="form-check">
                <%= f.check_box :remember_me, class: "form-check-input" %>
                <%= f.label :remember_me, class: "form-check-label" %>
              </div>
            </div>
          <% end %>

          <%= f.submit t(".submit"), class: "btn btn-block btn-primary" %>

          <%- if devise_mapping.recoverable? %>
            <div class="form-text text-center">
              <small>
                <%= link_to t(".forgot_your_password"), new_password_path(resource_name) %>
              </small>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%#- if devise_mapping.confirmable? %>
<!--  <div class="block text-center">-->
    <%#= link_to t(".didn_t_receive_confirmation_instructions"), new_confirmation_path(resource_name) %>
<!--  </div>-->
<%# end -%>
