<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <%= nav_item controller: 'admin/home', html_options: {class: "nav-item"} do %>
        <%= link_to admin_root_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <%= t("layouts.sidebar.admin.home") %>
        <% end %>
      <% end %>
      <%= nav_item controller: 'admin/users', html_options: {class: "nav-item"} do %>
        <%= link_to admin_users_path, class: "nav-link" do %>
          <i class="nav-icon fas fa-user-circle"></i>
          <%= t("layouts.sidebar.admin.users") %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <button class="sidebar-minimizer" type="button"></button>
</div>
