<div class="c-sidebar" data-controller="coreui-sidebar">
  <div class="c-sidebar-header">
    <%= link_to root_path, class: "c-sidebar-nav-link" do %>
      <i class="fas fa-home"></i>
      <%= t("layouts.sidebar.application.header") %>
    <% end %>
  </div>
  <nav class="c-sidebar-nav">
    <ul class="nav">
      <%= nav_item path: 'home#index', html_options: { class: "c-sidebar-nav-item" } do %>
        <%= link_to root_path, class: "c-sidebar-nav-link" do %>
          <i class="fas fa-tachometer-alt"></i>
          <%= t("layouts.sidebar.application.home") %>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <button class="c-sidebar-minimizer" type="button"></button>
</div>
